.zoom {
    margin: 10px $l-size;
    transition: 0.3s ease;    
    &:hover {
		font-size: $xl-size;
		color: darken($off-white, 20%);
    }

    @media (min-width: $desktop-breakpoint) {
        margin: $m-size;   
    }
}

.about-me {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1em;

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;       
    }
}