.zoom {
    color: $text-grey;
    margin: 10px $l-size;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
    transition: 0.3s ease;

    &:hover {
		font-size: 7em;
		color: lighten($text-grey, 20%);
    }

    @media (min-width: $desktop-breakpoint) {
        margin: $m-size;   
    }
}

.about-me {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1em;

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;       
    }
}