.header {
    margin: 0;
}


.header__title {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    font-weight: 700;
    margin: 0;
    padding-top: 2em;
    text-align: center;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
                 
}

.header__subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-bottom: 0.1em;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
    @media (min-width: $desktop-breakpoint) {
        padding-bottom: 1em;      
    }
}

