body {
    margin: 0;
    background-attachment: fixed;
}

html {
    // Animation code from https://codepen.io/P1N2O/pen/pyBNzX modified slightly.
	background: linear-gradient(-45deg, #2980B9, #6DD5FA, #FFFFFF) fixed;
	background-size: 400% 400%;
	color: $text-grey;
	font-family: 'Roboto', sans-serif;
    height: 100vh;
	justify-content: center;
	width: 100wh;	
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
	--mdc-theme-primary: #212121;
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
